<style> 
        .box{
            position: relative;
        }
        .contenedor{
            position: relative;
            width: 400px;
            min-height: 400px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(5px);
            box-shadow:  0px 25px 45px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        .formulario{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 40px;

        }
        .formulario h2{
            position: relative;
            color: #fff;
            font-size: 24px;
            font-weight: 600px;
            letter-spacing: 1px;
            margin-bottom: 40px;            
        }
        .formulario h2::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 80px;
            height: 4px;
            background: #fff;
        }
        .formulario .input{
            width: 100%;
            margin-top: 20px;            
        }
        .formulario .input input{
            width: 100%;
            background: rgba(255,255, 255, 0.2);
            border: none;
            outline: none;
            padding: 10px 20px;
            border-radius: 35px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 16px;
            letter-spacing: 1px;
            color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        }
        .formulario .input input::placeholder{
            color: #fff;
        }
        .formulario .input input[type="submit"]{
            background: #fff;
            color: #666;
            max-width: 100px;
            cursor: pointer;
            margin-bottom: 20px;
            font-weight: 600;
        }
        .olvidar{
            margin-top: 5px;
            color: #fff;
        }
        .olvidar a{
            color: #fff;
            font-weight: 600;
        }
        .box .fondo{
            position: absolute;
            backdrop-filter: blur(5px);
            box-shadow:  0px 25px 45px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0,1);
            border-radius:10px;
            animation: animate 10s linear infinite;
            animation-delay: calc(-1s * var(--i));
        }
        @keyframes animate {
            0%,100%{
                transform: translateY(-40px);
            }
            50%{
                transform: translateY(40px);
            }
            
        }
        .box .fondo:nth-child(1){
            top: -50px;
            width: 100px;
            height: 100px;
            right: -60px;
        }
        .box .fondo:nth-child(2){
            top: 150px;
            width: 120px;
            height: 120px;
            left: -100px;
            z-index: 2;
        }
        .box .fondo:nth-child(3){
            bottom: 50px;
            width: 80px;
            height: 80px;
            right: -60px;
            z-index: 2;
        }
        .box .fondo:nth-child(4){
            bottom: -80px;
            width: 50px;
            height: 50px;
            left: 50px;
            z-index: 2;
        }
        .box .fondo:nth-child(5){
            top: -80px;
            width: 60px;
            height: 60px;
            left: 140px;           
        }
    </style>
<div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="fondo" style="--i:0;"></div>
            <div class="fondo" style="--i:1;"></div>
            <div class="fondo" style="--i:2;"></div>
            <div class="fondo" style="--i:3;"></div>
            <div class="fondo" style="--i:4;"></div>
            <div class="fondo" style="--i:5;"></div>
            <div class="contenedor">
                <div class="formulario">
                    <h2>Iniciar sesión</h2>
                    <form action="" method="post">
                        <div class="input">
                            <input type="text" name="empUsuario" placeholder="Usuario">
                        </div>
                        <div class="input">
                            <input type="password" name="empContraseña" placeholder="Contraseña">
                        </div>
                        <div class="input">
                            <input type="submit" value="Iniciar">
                        </div>
                        {{#if error}}
                          <p class="olvidar">
                            {{error}}
                            </p>  
                        {{/if}}
                        <p class="olvidar">¿Olvidaste tu contraseña?
                        <a href="#">Click aquí</a></p>
                        <p class="olvidar">¿No te has registrado?
                            <a href="#">Click aquí</a></p>
                    </form>
                </div>
            </div>
        </div>